@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}


@model Admin_Management.Models.TblUser

@{
    ViewData["Title"] = "EditUser";
}
@ViewBag.error
<hr />
<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <h2 class="card-title text-center">Change Password</h2>
                <hr>
                <form action="/admin/change-Password" method="post">
                    <div class="card-body">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 form-group">
                                <label>OldPassword</label>
                                <input type="text" class="form-control form-control-rounded" name="oldpass" id="textAreaExample1" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 form-group">
                                <label>NewPassword</label>
                                <input type="text" name="newpass" class="form-control form-control-rounded" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 form-group">
                                <label>ConfirmPassword</label>
                                <input type="text" class="form-control form-control-rounded" name="conpass" id="textAreaExample2" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <div class="col-12 form-group text-center">
                            <span class="text-danger">@ViewBag.msg</span>                        
                        </div>
                        <div class="col-12 form-group text-center">
            
                            <input type="submit" value="Set Password" class="btn btn-primary form-control-rounded" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



