
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
     @*<title>@ViewBag.Title</title>*@
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Waredot CMS Login </title>
	<link rel="shortcut icon" type="image/png" href="/waredot.png"/>
	<!-- loader-->
	<!--favicon-->
	
	<!-- Bootstrap core CSS-->
	<link rel="stylesheet" href="/admin/css/bootstrap.min.css" />
	<!-- animate CSS-->
	<link href="/admin/css/animate.css" rel="stylesheet" type="text/css" />
	<!-- Icons CSS-->
	<link href="/admin/css/icons.css" rel="stylesheet" type="text/css" />
	<!-- Custom Style-->
	<link rel="stylesheet" href="/admin/css/app-style.css" />

</head>
<body>

    <div>
        @RenderBody()
    </div>

	<script src="/admin/js/jquery.min.js"></script>
	<script src="/admin/js/popper.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>

	<!-- sidebar-menu js -->
	<script src="/admin/js/sidebar-menu.js"></script>
	<!-- Custom scripts -->
	<script src="/admin/js/app-script.js"></script>

</body>
</html>
